*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pyc
*.asv
*.synctex
*.bak
*.sav
tradeoff_klamroth2008.mat
pars_ellipsoid_Np100.mat
pars_ellipsoid_Np1000.mat
report.pdf
SDP511_Bemporad2006_phase1.mat
zuidwijk1_partial_B2.mat
SDP511_Bemporad2006.mat
Output/
overview.pdf
